@{
    ViewData["Title"] = "ViewEmpleado";
}
<h1>@ViewData["Title"]</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="AsistenciaEmpleado" asp-action="Index" style="border: 2px solid red;">Registrar asistencia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="VacacionesAusenciasEmpleado" asp-action="Index" style="border: 2px solid blue;">Registrar Vacaciones o Ausencias</a>
        </li>
        
    </ul>
</div>
